/Mods/.vs
/Mods/.vs
/Mods/.vs
/Mods/.vs
/Mods/.vs
Mods/.vs/Mods/v17/.wsuo
Mods/.vs/Mods/v17/DocumentLayout.json
Mods/.vs/slnx.sqlite
Mods/.vs/VSWorkspaceState.json
Mods/2-SCore/obj/Debug/0-SCore.csproj.AssemblyReference.cache
Mods/2-SCore/obj/Release/0-SCore.csproj.AssemblyReference.cache
/Mods/.vs
